body {
    background-color: #031F31;
    margin: 0;

}

#headAnimation {
    background-color: #031F31;
    height: 180px;
    width: 100%; 
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    display: flex;
    height: 100%;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #1f505c,
    0 0 50px 2px #4fc3dc,
    0 0 100px  10px #4fc3dc;
    animation: animate 2s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ffffff;
    box-shadow: 0 0 0 10px #21515C,
    0 0 50px 2px #24F2D2,
    0 0 140px 10px #0ff;
    animation: animate 2s linear infinite;
    animation-duration: calc(125s / var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(20vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }

}

#headerAnimation {
    position: relative;
}

#headerAnimation::before {
    background: radial-gradient(
        800px circle at 100px 100px,
        rgba(255,255,255,0.06),
        transparent 40%
    );
    border-radius: inherit;
   content: "";
   height: 100%;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 100%;
   z-index: 2;
}

#header-title{
    position: absolute;
    font-family: 'Lexend Deca';
    font-size: 70px;
    color: white;
    margin: 1.5% 0 0 30%;
    letter-spacing: .1em;
}

#header-comment{
    position: absolute;
    font-family: 'Lexend Deca';
    font-size: 30px;
    color: white;
    margin: 5.3% 0 0 30.1%;
    letter-spacing: .07em;
}

li {
    display: inline;
    float: right;
    display: block;
    padding: 8px;

  }

li a{
    font-family: 'Lexend Deca';
    color: white;
    text-decoration:none;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

h1 {
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
}
